
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">מה תרצה לבקש?</h2>

@using (Html.BeginForm("Index", "Request", FormMethod.Post))
{
    <div class="row">
        <div class="form-group">
            <div class="col-md-8">
                <select name="Type" class="form-control">
                    <option name="Type" value="Apartment">דירה</option>
                    <option name="Type" value="Room">חדר</option>
                </select>
            </div>

            <div class="col-md-4">
                <input type="submit" name="choose" value="בחר" class="btn btn-default" style="width: 100%" />
            </div>
        </div>
    </div>
}

<div class="clearfix"></div>
