@{
    ViewBag.Title = "Home Page";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <input type="text" name="City" class="form-control" placeholder="filter by city" />
            </div>

            <div class="col-md-2">
                <input type="submit" value="Filter" class="btn btn-default" style="width: 100%" />
            </div>
        </div>
    </div>
}

<div class="clearfix"></div>
